<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="SelectedPhotoAccess">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"/>
    <application
        android:name=".App"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ELearningCourse"
        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.IntroActivity"/>
        <activity android:name=".ui.auth.login.LoginActivity"/>
        <activity android:name=".ui.auth.register.RegisterActivity"/>
        <activity android:name=".ui.auth.verifyOtp.VerifyOtpActivity" />
        <activity android:name=".ui.auth.forgotPassword.ForgotPasswordActivity"/>
        <activity android:name=".ui.auth.resetPassword.ResetPasswordActivity"/>
        <activity android:name=".MainActivity"/>
<!--            android:name=".ui.PaymentMethodActivity"-->
<!--            android:exported="false"-->
<!--            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />-->
        <activity
            android:name=".ui.account.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".ui.account.HelpCenterActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".ui.account.PrivacyPolicyActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".ui.account.NotificationSettingsActivity"
            android:exported="false"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <activity android:name=".ui.course.CourseDetailsActivity"/>
        <activity android:name=".ui.category.CategoryActivity"/>
        <activity android:name=".ui.course.PopularCoursesActivity"/>
        <activity android:name=".ui.mycourse.ContinueLearningActivity"/>
        <activity android:name=".ui.bookmark.BookMarkActivity"/>
        <activity android:name=".ui.mycourse.CoursesActivity"/>
        <activity android:name=".ui.search.SearchActivity" />
        <activity android:name=".ui.lesson.LessonPlayerActivity" />
        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://487394153664677:qV8HWNChkFSIGAMwUMqkjY0lZhQ@dnoyhgqbs"/>
        <activity android:name=".ui.payment.PaymentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="myapp"
                    android:host="payment-result" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ResultScreenActivity" />
    </application>

</manifest>